body {
    background-color: black;
    color: greenyellow;
}

table {
    border: 1px solid greenyellow;
    width: 80%;
}

tr {
    height: 100px;
    border: 1px solid greenyellow;
}

td {
    text-align: center;
    border: 1px solid greenyellow;
    font-size: xx-large;
}
