body {
    background-color: wheat;
    color: black;
    width: 100%;
    text-align: center;
}

.container {
    margin: auto;
}

table {
    border: 1px solid black;
    width: 450px;
    margin: auto;
}

tr {
    height: 150px;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
    font-size: xx-large;
    width: 150px;
    height: 150px;
}

#winnerID {
    font-size: xx-large;
}